﻿@page
@model Realstator.Pages.AddHomeModel
@{
ViewData["Title"] = "Add New Property";
}
<h1>@ViewData["Title"]</h1>
<form method="post" enctype="multipart/form-data">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="HomeType">Property's Type</label>
            <select asp-for="HomeType" class="form-control">
                <option value="-1">None</option>
                <option value="0">BUNGL</option>
                <option value="1">SPLIT</option>
                <option value="2">COTTG</option>
                <option value="3">SEMID</option>
                <option value="4">CONDO</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Addr">Address</label>
            <input type="text" asp-for="Addr" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group col-md-4">
            <label asp-for="City">City</label>
            <input type="text" asp-for="City" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-2">
            <label asp-for="AptNo">Apt#</label>
            <input type="text" asp-for="AptNo" class="form-control" id="inputAddress2"
                placeholder="Apartment, studio, or floor">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label asp-for="Bdrms">Bedroome</label>
            <input type="number" asp-for="Bdrms" class="form-control" id="inputZip">
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Bths">Bathroom</label>
            <input type="number" asp-for="Bths" class="form-control" id="inputZip">
        </div>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" asp-for="Garage" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" asp-for="Garage" >Garage</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" asp-for="Pool" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" asp-for="Pool">Pool</label>
    </div>
    <div class="form-row">
        <div class="form-group pagination-centered">
            <label asp-for="Detail">Detail</label>
            <textarea class="form-control" asp-for="Detail" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="custom-file">
            <input type="file" asp-for="ProfileImage" class="custom-file-input" />
            <label class="custom-file-label" asp-for="ProfileImage">Choose a Photo</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label asp-for="Price">Price</label>
            <input type='text' asp-for="Price" class="form-control" id="inputCity" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add New Property</button>
</form>