﻿<div id="featuredHome" class="row"> 
    <div class="col-sm-8">
        <img alt="Featured Home" src="~/Images/Homes/@Model.FeaturedHome.ImageName" class="img-fluid rounded"/>
    </div>
    <div id="featuredProductInfo" class="col-sm-4">
        <div id="homeInfo">
            <h2>@Model.FeaturedHome.HomeType</h2>
            <p class="bedroom">@Model.FeaturedHome.Bdrms)</p>
            <p class="bathroom">@Model.FeaturedHome.Bths)</p>
            <p class="city">@Model.FeaturedHome.City)</p>
            <p class="price">$@string.Format("{0:f}", Model.FeaturedHome.Price)</p>
            <p class="detail">@Model.FeaturedHome.Detail</p>
        </div>
        <div id="callToAction">
            <a class="btn btn-danger order-button" asp-page="/Favorite" asp-route-id="@Model.FeaturedHome.HomeId" title="Favorite @Model.FeaturedHome.HomeType">Add to favorite</a>
        </div>
    </div>
</div>
<div id="homesWrapper" class="row">
@foreach (var home in Model.Homes)
{
    <div class="col-sm-3">
        <a asp-page="/Favorite" asp-route-id="@home.HomeId" title="Favorite @home.HomeId">
            <div class="homeuctInfo">
                <h3>@home.HomeType</h3>
                <img class="product-image img-fluid img-thumbnail" src="~/Images/Homes/Thumbnails/@home.ImageName" alt="Image of @home.HomeId" />
                <p class="description">@home.Detail</p>
            </div>
        </a>
        <div class="action">
            <p class="price float-left">$@string.Format("{0:f}", home.Price)</p>
            <a class="btn btn-sm btn-danger order-button float-right" asp-page="/order" asp-route-id="@home.HomeId" title="Order @home.HomeId">Add to favorite</a>
        </div>
    </div>
}
</div>