﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}
@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  color: #696969;
}

.navbar-nav {
  justify-content: flex-end;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

@media (min-width: 992px) {
  .navbar-brand.abs
      {
          position: absolute;
          width: 100%;
          left: 0;
          text-align: center;
      }
  }
/*Body*/
/*-------------------------------------------------*/

body{
  color: #696969;
}
a:link {
  color: #3b3420;
  text-decoration: none;
}
a:visited {
  color: #3b3420;
  text-decoration: none;
}
a:hover {
  color: #a52f09;
  text-decoration: none;
}
a:active {
  color: #a52f09;
}
a.add-button, a.add-button:hover{
  color: #fdfcf7;
}
.homeInfo, .action{
  max-width: 200px;
}
p{
  font-size: 0.8rem;
}
#addProcess {
  list-style: none;
  padding: 0;
  clear: both;
}
#addProcess li {
  color: #696969;
  display: inline;
  font-size: 1.2em;
  margin-right: 15px;
  padding: 3px 0px 0px 5px;
}
.step-number {
    background-color: #edece8;
    border: 1px solid #e6e4d9;
    font-size: 1.5em;
    margin-right: 5px;
    padding: 3px 10px;
}
.current .step-number {
    background-color: #a52f09;
    border-color: #712107;
    color: #fefefe;
} 
.homePageList{
    padding-inline-start: 20px;
}
.actions .add-button{
  margin-left:20px;
}

/* Sticky footer styles
-------------------------------------------------- */

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


/* Sticky footer styles
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
