﻿@page
@model Realstator.Pages.AboutModel
@{
ViewData["Title"] = "About Us";
}
    <h4 class="text-center font-weight-bold col-sm-12"><u>About</u></h4><br>

    <div class="photo">
        <img alt="About" src="/images/about.jpg" class="rounded float-right col-sm-5 align-middle mx-auto" />
    </div>


    
    <h4 class="text-left font-italic col-sm-7">A little bit about free Multiple Listing Service</h4><br>
    <p class="text-left text-justify col-sm-7">
        No matter what stage of the home journey you may be in, we’re here to empower you by making all things home
        simple, efficient, and enjoyable.
    </p>
