﻿@page
@model IndexModel
@{
ViewData["Title"] = "Home page";
}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="Images/Homes/Carousel/Carousel9.png" class="d-block w-100" alt="Carousel1">
        </div>
        <div class="item">
            <img src="Images/Homes/Carousel/Carousel5.jpg" class="d-block w-100" alt="Carousel2">
        </div>
        <div class="item">
            <img src="Images/Homes/Carousel/Carousel8.jpg" class="d-block w-100" alt="Carousel3">
        </div>
        <div class="item">
            <img src="Images/Homes/Carousel/Carousel4.jpg" class="d-block w-100" alt="Carousel4">
        </div>
        <div class="item">
            <img src="Images/Homes/Carousel/Carousel7.jpg" class="d-block w-100" alt="Carousel5">
        </div>
        <div class="item">
            <img src="Images/Homes/Carousel/Carousel6.jpg" class="d-block w-100" alt="Carousel6">
        </div>
        <div class="item">
            <img src="Images/Homes/Carousel/Carousel10.jpg" class="d-block w-100" alt="Carousel7">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div id="homesWrapper" class="row">
@foreach (var home in Model.Homes)
{
    <div class="col-sm-3">
        <a asp-page="/Favorite/AddFavorite" asp-route-id="@home.HomeId" title="Add to Favorite">
            <div class="homeInfo">
                <h3>@home.HomeType</h3>
                <img src="~/Uploads/@home.ProfilePicture" class="home-image img-fluid img-thumbnail" height="40" width="40" asp-append-version="true" /> 
                <div>
                    <p class="bedroom"><img src="Images/Homes/thumbnails/bdrm.png" width="20" height="15">@home.Bdrms</p>
                    <p class="bathroom"><img src="Images/Homes/thumbnails/bth.png" width="20" height="15">@home.Bths</p>

                </div>
                <p class="detail">@home.Detail</p>
            </div>
        </a>
        <div class="action">
            <p class="price float-left">$@string.Format("{0:f}", home.Price)</p>
            <a class="btn btn-sm btn-danger add-button float-right" asp-page="/Favorite/AddFavorite" asp-route-id="@home.HomeId" title="Add @home.HomeType">Add To Favorite</a>
        </div>
    </div>
}
</div>